extends layout

block content
  main 
    div.contained
      form.form-inline.main(action='/help' method='post')
        div.hiddenError
          if error
            p#handleError= error
        div.hiddenError2
          if loginError
            p#handleError2= loginError
        div#title
          img(src='/images/banner.png' width='800')
        input.form-control(type='text' name='city' id='city' placeholder='city' value=(city)?'#{city}':"")
        if cityError
          p#cityError= cityError
        section(id='btns-click')
          button(class='btns btns-7 btns-go btns-icon-only icon-arrow-right2' type='submit')
            span GO!
      if !email && weather
        .info Login to see get more information
      if weather
        div.weather
          for day, index in weather
            div(class=( email ? 'md-modal md-effect-1' : 'hidden') id=(('modal-'+ (index + 1))))
              div(class='md-content')
                h3=day[0]
                div
                  for time in day[1]
                    table.weatherTable
                      tr
                        td
                          span=time[0]
                        td
                          span.big=time[1][0]
                        td
                          span=time[1][1]
                div.md-close X
            div.day(class=( email ? 'md-trigger' : undefined), data-modal=(('modal-'+ (index + 1))))
              p.big2=day[1][0][1][0]
              h4=day[0]
              img.image(src=(day[1][0][1][1] === "sky is clear" ? 'images/weather/sunny.png' : day[1][0][1][1] === "light rain" ? '/images/weather/partlyrainy.png' : '/images/weather/clouded.png'))
      div(class='md-modal md-effect-1' id=('modal-6'))
        div(class='md-content')
          h3 Login
            div.md-close X
          div.form
            div.loginError
              if loginError
                p= loginError
            form.form-inline(action='/login', method='post')
              .col
                label(for='email') Email 
              .col
                input.form-control(type='email' name='email' id='email')
              .col
                label(for='password') Password 
              .col
                input.form-control(type='password' name='password' id='password')
              section(id='btns-click')
                button(class='btns btns-7 btns-login icon-key' type='submit')
                  span Login          
      div(class='md-modal md-effect-1' id=('modal-7'))
        div(class='md-content')
          h3 Signup
            div.md-close X
          div.signError
            if error
              p#modalError= error
          div.form
            form.form-inline(action='/user/new', method='post')
              .col
                label(for='email') Email 
              .col
                input.form-control(type='email' name='email' id='email')
              .col
                label(for='password') Password 
              .col
                input.form-control(type='password' name='password' id='password')
              .col
                label(for='confirm') Confirm Password 
              .col
                input.form-control(type='password' name='confirm' id='confirm')
              section(id='btns-click')
                button(class='btns btns-7 btns-signup icon-checkmark')
                  span Sign-Up
      div.wrap
        if musicEvents
          div#category.md-trigger(data-modal=('modal-8'))
            button(class='btn btn-music icon-music')
              span Music
          div#modal-8.md-modal.md-effect-1
            div.md-content
              div.fixed
                div.fixed-content
                  h3 Music
                    div.md-close X
              div.scroll
                p= musicEvents[0][0].start.date
                  each event in musicEvents[0]
                    form.musicEventContainer(action=event.uri methos='link' target='_blank')
                      input(type='submit' value=event.displayName)
                if email
                  if musicEvents[1][0]
                    p= musicEvents[1][0].start.date
                      each event in musicEvents[1]
                        form.musicEventContainer(action=event.uri methos='link' target='_blank')
                          input(type='submit' value=event.displayName)
                  if musicEvents[2][0]       
                    p= musicEvents[2][0].start.date
                      each event in musicEvents[2]
                        form.musicEventContainer(action=event.uri methos='link' target='_blank')
                          input(type='submit' value=event.displayName)
                  if musicEvents[3][0]
                    p= musicEvents[3][0].start.date
                      each event in musicEvents[3]
                        form.musicEventContainer(action=event.uri methos='link' target='_blank')
                          input(type='submit' value=event.displayName)
                  if musicEvents[4][0]
                    p= musicEvents[4][0].start.date
                      each event in musicEvents[4]
                        form.musicEventContainer(action=event.uri methos='link' target='_blank')
                          input(type='submit' value=event.displayName)
        if restaurants
          div#category.md-trigger(data-modal=('modal-9'))
            button(class='btn btn-food icon-spoon-knife')
              span Food
          div#modal-9.md-modal.md-effect-1
            div.md-content
              div.fixed
                div.fixed-content
                  h3 Food
                    div.md-close X
              div.scroll
                each biz in restaurants
                  form.foodEventContainer(action=biz.url method='link' target='_blank')
                    input(type='submit' value=biz.name + " " + biz.rating)  
