extends layout

block content
  main 
    div.container 
      form.main(action='/help' method='post')
        h1 Where are you traveling?
        
        label(for='city') City
        input(type='text' name='city' id='city' value=(city)?'#{city}':"")
        
        label(for='state') State
        input(type='text' name='state' id='state' value=(state)?'#{state}':"")
    
        input(type='submit' value='Help!' )
    
    
    
  div.tileBlock
    if musicEvents
      div.left
        div.musicTile 
        div.musicResponse
          each event in musicEvents
            form(action='/user/list' method='post')
              div.event
                p 
                  a(href=event.uri) #{event.displayName}
                  input(type='hidden' value=event.uri)
                  input(type='hidden' value=event.displayName)
                  input(type='submit' value='Save Event')
    div.right
      div.foodTile
      div.foodResponse 
        if restaurants
          each biz in restaurants
            div.event
              p
                a(href=biz.url)= biz.name + " " + biz.rating
                
  script(src='/js/client.js')
        
