extends layout

block content
  main 
    div.container 
      form.main(action='/help' method='post')
        h1 Where are you traveling?
        label(for='city') City
        input(type='text' name='city' id='city' value=(city)?'#{city}':"")
        input(type='submit' value='Help!' )
    button.md-trigger(data-modal="modal-1") BUTTON
    div.show
      !{display}
    div.weather
      if weather
        for day, index in weather
          div(class='md-modal md-effect-1' id=(('modal-'+ (index + 1))))
            div(class='md-content')
              h3=day[0]
              div
                p=day[1][0][1][0]
                button.md-close Close me!
          div.md-trigger.day(data-modal=(('modal-'+ (index + 1))))
            p=day[0]
            p=day[1][0][1][0]
            //- p=day[0]
            //- for time in day[1]
            //-   p=time[0]
            //-   p=time[1][0]
            //-   p=time[1][1]
    div.tileBlock
      if musicEvents
          div.left
            div.musicTile 
            div.musicResponse
              p= musicEvents[0][0].start.date
                each event in musicEvents[0]
                  div.event
                    p 
                      a(href=event.uri) #{event.displayName}
              p= musicEvents[1][0].start.date
                each event in musicEvents[1]
                  div.event
                    p 
                      a(href=event.uri) #{event.displayName}
              p= musicEvents[2][0].start.date
                each event in musicEvents[2]
                  div.event
                    p 
                      a(href=event.uri) #{event.displayName}
              p= musicEvents[3][0].start.date
                each event in musicEvents[3]
                  div.event
                    p 
                      a(href=event.uri) #{event.displayName}
              p= musicEvents[4][0].start.date
                each event in musicEvents[4]
                  div.event
                    p 
                      a(href=event.uri) #{event.displayName}
      if restaurants
        div.right
          div.foodTile
          div.foodResponse 
            each biz in restaurants
              div.event
                p
                  a(href=biz.url)= biz.name + " " + biz.rating
